.wrapper {
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-top-color: #d9d9d9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    cursor: default;
    border-radius: 12px;
    padding: 16px 0 8px;
    list-style-type: none;
}